.service-item {
  margin-bottom: 80px;

  i {
    padding: 2px;
    font-size: 2.6rem;
    color: $main-color;
    background: $color-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h4 {
    margin: 10px 0;
  }

  @media(max-width: 768px) {
    margin-bottom: 35px;
  }
}