@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200");
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #6E7076;
  line-height: 1.7;
  font-size: 0.95rem; }

p {
  color: #6E7076; }

section {
  padding: 100px 0; }
  @media (max-width: 768px) {
    section {
      padding: 60px 0; } }

.text-color {
  color: #00a0ff; }

.text-light {
  color: #ffffff; }

.text-dark {
  color: #313131; }

.weight-light {
  font-weight: 300; }

.weight-bold {
  font-weight: 600; }

a:hover {
  text-decoration: none;
  color: default; }

h5 {
  font-weight: 400; }

h4 {
  font-weight: 400;
  font-size: 1.25rem;
  color: #313131; }

blockquote {
  font-size: 1.35rem;
  font-weight: 300;
  color: #6E7076;
  margin-bottom: 35px; }
  @media (max-width: 992px) {
    blockquote {
      font-size: 1.2rem; } }
  @media (max-width: 768px) {
    blockquote {
      font-size: 1rem; } }

.section-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 2.2rem;
  margin-bottom: 50px; }
  @media (max-width: 768px) {
    .section-title {
      margin-bottom: 30px;
      font-size: 1.85rem; } }

.display-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 3.6rem; }
  @media (max-width: 992px) {
    .display-1 {
      font-size: 3rem; } }
  @media (max-width: 768px) {
    .display-1 {
      font-size: 2.1rem; } }

.display-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 2.4rem; }
  @media (max-width: 992px) {
    .display-2 {
      font-size: 1.8rem; } }
  @media (max-width: 768px) {
    .display-2 {
      font-size: 1.6rem; } }

.display-3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1.95rem; }
  @media (max-width: 992px) {
    .display-3 {
      font-size: 1.5rem; } }
  @media (max-width: 768px) {
    .display-3 {
      font-size: 1.3rem; } }

.btn {
  border-radius: 100px;
  padding: .575rem 1.75rem;
  transition: all 0.2s ease-in; }
  .btn-color {
    background: linear-gradient(45deg, #c644fc 0%, #4f4dce 82%, #4c4abd 100%);
    color: white; }
  .btn-white {
    background: white;
    border: 1px solid white; }
    .btn-white:hover {
      background: transparent;
      color: white; }
    .btn-white.transparent {
      background: transparent;
      border: 1px solid white;
      color: white; }
      .btn-white.transparent:hover {
        background: white;
        color: #313131; }

.form-control {
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.075); }
  .form-control::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #a8a8a8;
    font-size: .8rem; }
  .form-control:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #a8a8a8;
    font-size: .8rem;
    opacity: 1; }
  .form-control::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #a8a8a8;
    font-size: .8rem;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #a8a8a8;
    font-size: .8rem; }
  .form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #a8a8a8;
    font-size: .8rem; }
  .form-control::placeholder {
    /* Most modern browsers support this now. */
    color: #a8a8a8;
    font-size: .8rem; }
