@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200');

$main-color: #00a0ff;

$text-white: #ffffff;
$text-light: #a8a8a8;
$text-regular: #6E7076;
$text-dark: #313131;

$font-main: 'Open Sans', sans-serif;
$font-alt: 'Montserrat', sans-serif;

$weight-ultra-thin: 100;
$weight-thin: 200;
$weight-light: 300;
$weight-regular: 400;
$weight-bold: 600;

$bg-color-light: #f7f7f7;

$color-gradient: linear-gradient(45deg, #c644fc 0%, #4f4dce 82%, #4c4abd 100%);


$nav-shadow: 0 1px 0 rgba(black, .065);