@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200');

$main-color: #00a0ff;

$text-white: #ffffff;
$text-light: #a8a8a8;
$text-regular: #6E7076;
$text-dark: #313131;

$font-main: 'Open Sans', sans-serif;
$font-alt: 'Montserrat', sans-serif;

$weight-ultra-thin: 100;
$weight-thin: 200;
$weight-light: 300;
$weight-regular: 400;
$weight-bold: 600;

$bg-color-light: #f6f9fc;

$color-gradient: linear-gradient(to right bottom, #5533ff, #006aff, #008cff, #00a8ff, #0fc0ff);

$nav-shadow: 0 1px 0 rgba(black, .065);