#clients {
  .slider-item {
    padding: 20px;
    transition: all 0.2s ease-in;

    &:hover {
      transform: translateY(-10px);
    }
  }

  .clients-item {
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,.07);
  }

  h6 {
    font-size: 0.75rem;
    color: $text-light;
  }
}