@import 'assets/scss/utils/_variables.scss';


footer {
  background: $bg-color-light;
  padding: 100px 0;

  .info-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    i {
      font-size: 1.5rem;
      margin-right: 15px;
      background: linear-gradient(45deg, #c644fc 0%, #5856d6 82%, #5856d6 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #00a0ff;
    }
  }

  @media(max-width: 992px) {
    padding: 60px 0;
  }
}